body{
	background-image: url(../images/background.png);
	background-repeat:repeat ;
	margin: 0;
}
@font-face{
	font-family: "Source Sans Pro";
	src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face{
	font-family: "Source Sans Pro Light"; 
	src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face{
	font-family: "Source Sans Pro Semibold";
	 src: url(../fonts/SourceSansPro-Semibold.ttf);
}
#curcubeuHead{
	background-image: url(../images/curcubeuHeader.png);
	background-repeat: no-repeat;
	z-index: 0;
	margin: 0 auto;
	padding: 0;
	width: 903px;
	height: 76px;
}
header{
	height: 180px;
	margin: -45px auto 0 auto;
	width: 903px;
	background-color: white;
	z-index: 1;
	border-bottom: 1px solid #c4d3d8;
}
header .mainLogo{
	float: left;
	height: 57px;
	width: 215px;
	margin: 70px 115px 0 50px ;
	padding: 0;
}
header nav ul{
	list-style: none;	
	float:left; 
	margin: 0;
	padding: 0;
}
header nav li{
	list-style: none;
	float: left;
	margin-left: 20px;
	margin-top: 80px;
}
header nav a:hover{
	color:#3679b1;
}
header nav a{
	text-decoration: none;
	color: #646464;
    font-family: 'Source Sans Pro';
	font-weight: bold;
	font-size: 16px;
}
header .box{
	float: left;
	margin: -78px 0px 0 717px;
	padding: 0;
	width: 205px;
	height: 63px;
	background-image: url(../images/box-fixed.png);
	background-repeat: no-repeat;
}
header .box a{
	float: left;
	margin: 32px 48px 0 45px;
	font-family: 'Source Sans Pro';
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
header .box a:hover{
	color: black;
}
header .sageata{
	margin-left: 175px;
	margin-top: -15px;
	float: left;
}
header .sageata :hover{
	color: white;
} 
/* end Header */

#content{
	height: 645px;
	width: 903px;
	margin: 0 auto;
	background-color: white;
	padding-top:60px; 
	color: #646464;
}
aside{
float: left;
	margin-left: 60px;
	margin-top: -425px;
		width: auto;
	height: auto;
}
aside img{
	margin-bottom: 30px; 
	
}
#content div{
	float: left;
	margin-left: 40px;
	
	width: 470px;
	height: auto;
}
#content div .title{
	font-family: "Source Sans Pro Light";
	font-size: 36px;
	margin: 0 0 45px 0;
	
}
#content div p{
	float: left;
	margin-bottom: 45px;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	line-height: 25px;
}
#content article{
	float: left;
	margin-left: 40px;

	width: 470px;
	height: auto;
}
#content article h1 {
	font-family: 'Source Sans Pro Semibold';
	font-size: 18px;
	margin: 0 0 0 0;
	color: #646464;
	float: left;
	font-weight: normal;
}
#content article p{
	font-family: "Source Sans Pro";
	font-size: 14px;
	line-height: 25px;
	float: left;
	margin-bottom: 45px;
}
#content .container{
	background-color: #e9e9e9;
	border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	width: 903px;
	height: 230px;
	padding: 0px;
	margin:0px;
}
#content .left{
	border-right: 1px solid #cecece;
	border-top:1px solid white;
	border-bottom: 1px solid white;
	width: 300px;
	height: 230px;
	margin: 0 0 0 0;
	padding: 0;
	float: left;
}
#content .left ul{
	list-style: none;
	margin-top: 28px;
	padding: 0;
	margin-left: 20px;
}
#content .left li a{
	text-decoration: none;
	font-family: 'Source Sans Pro Light';
	font-size: 30px;
	line-height: 36px;
	color: #646464;
}
#content .left li a:hover{
	text-decoration: underline;
}
#content .middle{
	border-right: 1px solid #cecece;
	border-top:1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	width: 300px;
	height: 230px;
	margin: 0 0 0 0;
	padding: 0;
	float: left;
}
#content .middle ul{
	list-style: none;
	margin-top: 30px;
	padding: 0;
	margin-left: 20px;
}
#content .facebook{
	background-image: url(../images/facebook.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 32px;
}
#content .twitter{
	background-image: url(../images/twitter.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 32px;
}
#content .youtube{
	background-image: url(../images/YouTube.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 32px;
}
#content .middle li a{
	text-decoration: none;
	font-family: 'Source Sans Pro Light';
	font-size: 30px;
	line-height: 38px;
	color: #646464;
}
#content .middle li a:hover{
	text-decoration: underline;
}
#content .right{
	border-top:1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	width: 298px;
	height: 230px;
	margin: 0 0 0 0;
	padding: 0;
	float: left;
}
#content .right blockquote{
	margin:30px 125px 0px 20px;
	font-family: 'Source Sans Pro Light';
	font-size: 17.2px;
	color: #9b9b9b;
}
#content .right blockquote p{
	margin-top: 100px;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-weight: bold;
	color: #9b9b9b;

}
#content footer{
	background-color: white;
	height: 125px;
	width: 903px;
	float: left;
	padding: 0px;
	margin: 0;
}
#content footer .box-footer {
	float: left;
	list-style: none;
	height: 125px;
	width: 903px;
	padding:0;
	margin: 0;
	font-size: 12px;
	font-family: 'Source Sans Pro';
	color: #ababab;
	font-weight: bold;
}
#content footer .box-footer p{
	margin:0;
}
#content footer .box-footer .one{
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	margin: 40px 0 0 40px;
	width: 200px;
}
#content footer .box-footer .two{
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	margin: 40px 0 0 60px;
	width: 185px;
}
#content footer .box-footer .three{
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	margin: 40px 0px 0 85px;
	width: 140px;
}
#content footer .box-footer .four{
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	margin: 40px 0 0 94px;
	width: 59px;
}
#content .curcubeu{
	background-image: url(../images/curcubeuFooter.png);
	margin: 0;
	padding:0;
	width: 903px;
	height: 13px;
	background-repeat: no-repeat;
}